name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '15 10 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Python 3.10
            python-version: '3.10'
          - name: Python 3.12
            python-version: '3.12'
          - name: Python 3.14
            python-version: '3.14'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python {{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Lint code
        run: uv run inv lint

      - name: Create libdoc
        run: uv run inv docs

      - name: Upload libdoc
        uses: actions/upload-artifact@v6
        with:
          name: SchemathesisLibrary-${{ matrix.python-version }}.html
          path: docs/SchemathesisLibrary.html

      - name: Run acceptance tests
        run: uv run inv atest

      - name: Upload runner test results
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: atest-result-runner-${{ matrix.python-version }}
          path: atest/output_runner/

      - name: Upload library test results
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: atest-result-library-${{ matrix.python-version }}
          path: atest/output_library/
